---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FancyParagraph from "../../components/Content/FancyParagraph.astro";
import More from "../../components/More.astro";
import TableOfContents from "../../components/TableOfContents/TableOfContents.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("articles");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const issue = await getCollection("issues", ({ data }) => {
  return data.issue_number === entry.data.issue_number;
});
---

<Layout
  issueSlug={`/issues/${issue[0].slug}`}
  title={entry.data.title}
  frontmatter={entry.data}
>
  <div class="grid grid-cols-12 break-words hyphens-auto">
    <div
      transition:name={entry.data.title}
      class="px-2 lg:order-1 order-2 col-span-12 lg:col-span-9 prose prose-xl md:px-10"
    >
      <Content components={{ More: More, FancyParagraph }} />
    </div>
    <div
      class="text-primary order-1 col-span-12 lg:col-span-3 lg:sticky top-10 h-fit"
    >
      <TableOfContents headings={headings} />
    </div>
  </div>
</Layout>
