---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SnippetLink from "../../components/SnippetLink.astro";
const technonomicon = await getEntry("articles", "technonomicon");
---

<Layout>
  <div class="grid grid-cols-12 gap-16 px-10">
    <SnippetLink class="col-span-4 row-span-2" title={technonomicon.data.title}>
      {technonomicon.body}
    </SnippetLink>

    <SnippetLink class="col-span-8" title={technonomicon.data.title}>
      {technonomicon.body}
    </SnippetLink>

    <SnippetLink class="col-span-8" title={technonomicon.data.title}>
      {technonomicon.body}
    </SnippetLink>
  </div>
</Layout>
