---
import MarkdownSnippet from "./Markdown.astro";
const { markdown, class: className, href, components, cta } = Astro.props;
---

<div class={className}>
  <div transition:name={markdown.data.title}>
    <MarkdownSnippet markdown={markdown} components={components} />
  </div>
  <a href={href} class="btn btn-block btn-outline btn-primary">{cta}</a>
</div>
