---
const { markdown, class: className, href, components, cta } = Astro.props;
const { Content } = await markdown.render();
---

<div class={className}>
  <div transition:name={markdown.data.title}>
    <Content components={components} />
  </div>
  <a href={href} class="btn btn-block btn-outline btn-primary">{cta}</a>
</div>
