---
const { issue, issue_slug } = Astro.props;
import Mushroom from "./Icons/Mushroom.astro";
import Bug from "./Icons/Bug.astro";
import romanize from "../utils/romanize";

const options = { weekday: "long" };
const optionsMonth = { month: "long" };

const today = new Date();
const dayNum = today.getDay();

const monthNum = today.getMonth();
const date = today.getDate();
const year = today.getFullYear();
// @ts-ignore
const day = new Intl.DateTimeFormat("en-US", options).format(today);
// @ts-ignore
const month = new Intl.DateTimeFormat("en-US", optionsMonth).format(today);
---

<nav class="p-2 md:px-10 w-full">
  <div class="flex justify-between">
    <a class="max-w-[50%]" href="/">
      <h1 class="text-2xl md:text-7xl font-display">
        <span>technonomicon</span>
      </h1>
      <p
        class="text-xs font-extrabold text-transparent bg-clip-text bg-gradient-to-t from-primary via-base-content to-base-content"
      >
        The book of the devs. — A print inspired digital garden <span
          class="inline-flex items-center"><Mushroom /><Bug /></span
        >
      </p>
    </a>
    {
      (
        <div>
          <a
            href={issue_slug}
            class:list={[
              "flex items-end gap-2 text-transparent bg-clip-text bg-gradient-to-t via-base-content to-base-content",
              issue_slug ? "from-primary" : "from-accent",
            ]}
          >
            <span class="mb-1">issue no.</span>
            <span
              transition:name={`issue_number_${issue}`}
              transition:animate="fade"
              class:list={[
                "font-lithops -mt-4 leading-none text-transparent bg-clip-text bg-gradient-to-t from-primary to-base-content text-8xl",
                issue_slug ? "from-primary" : "from-accent",
              ]}
            >
              {issue ? romanize(issue) : "!?"}
            </span>
          </a>
        </div>
      )
    }
  </div>
  <div class="relative flex items-center justify-between w-full mb-4 md:mb-16">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-base-content"></div>
    </div>
    <div class="relative flex justify-start">
      <span class="bg-base-100 pr-3 text-base font-semibold leading-6">
        {day}—{month}, {date}, {year}
      </span>
    </div>
    <div class="relative flex">
      <a
        href="/issues/page/1"
        class="bg-base-100 text-primary pl-3 text-base font-semibold leading-6"
      >
        All Issues
      </a>
    </div>
  </div>
</nav>
